html {
  background-color: #fff;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
}

.headerlogo {
  height: 40px;
}

.mdl-layout__header,
.mdl-layout, .mdl-layout__drawer-button {
  color: white !important;
}

.mdl-layout__header-row .mdl-layout-title a {
    font-family: Comfortaa !important;
    color: white;
}
